.feature {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  h3 {
    color: $secondary;
    font-size: 1.4rem;
    line-height: 1.2;
    font-family: $font-family-heading;
    font-weight: $font-weight-bold;
  }
  .feature-image {
    flex: 0 0 auto;
    max-height:250px;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    background:black;
  }
  img {
    width: 100%;
    height: auto;
    opacity: 0.6;
  }
  .feature-title {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .feature-content {
    margin-bottom: 30px;
    margin-top: auto;
    p {
      margin: 10px 0px 20px 0px;
      strong {
        color: $secondary;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
      }
      em {
        color: $primary;
        font-style: normal;
      }
    }
  }
}
