.page-about{

    .intro-about{
        background: linear-gradient(
            rgba(0, 0, 0, 0.6), 
            rgba(0, 0, 0, 0.6)
          ), url('../images/taping.jpeg');
        background-size: cover;
        background-position: 20%;
        height: 30vh;
    }
    .flex{
        display: flex;
        align-items: center;
        .right{
          margin-left: 20px;
        }
        &.end{
            justify-content: space-between;
        }
      }
}